.num-epr
{

    background-color: #4a4b4c;
    color: whitesmoke;
    height: 40px;

}

.montant-epr
{
    height: 40px;
    border-left: none;
    border-color: #bcbbb8;
    border-width: 1px;
    padding-left: 20px;
    color: #f4b71a;
}

.nom-epr
{
    height: 40px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #bcbbb8;
    font-weight: bold;
    padding-bottom: 5px;
    overflow: hidden;
}

.actuel-epr
{
    height: 40px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #bcbbb8;
    color: #1cbc29
}

.bouton-epr
{
    border-radius: 0;
    color: #4a4b4c;
    background-color: #f4b71a;
    font-weight: bold;
    height: 40px;
}

.submit-epr
{
    height: 40px;
    border-radius: 0;
    background-color: #4a4b4c;
    color: #f4b71a;
}
.ligne-epr
{
    margin-top: 10px;
}

.container-epr
{
    margin-top: 30px;
}

