.succesajoutepr
{
    margin-top: 8%;
}
.succesajoutemp
{
    margin-top: 4%;
}
.label_ajout_epr
{
    font-weight: bold;
   /* background-color: #4a4b4c;
    color: white;*/
}
.form-pop-epr
{
    /*margin-top: 20px;*/
    margin-bottom: 15px;
    border-color: #5f5f5f;
    border-style: solid;
    border-width: 1px;
}

.nom_ajout_epr
{
    margin-bottom: 10px;
}

.session_ajout_epr
{
    margin-bottom: 10px;
}

.montant_ajout_epr
{
    margin-bottom: 10px;
}
.bouton_ajout_epr
{
    border-radius: 0;
    color: #4a4b4c;
    background-color: #f4b71a;
    font-weight: bold;
    height: 40px;
}

.num-epr
{

    background-color: #4a4b4c;
    color: whitesmoke;
    height: 40px;

}

.montant-epr
{
    height: 40px;
    border-left: none;
    border-color: #bcbbb8;
    border-width: 1px;
    padding-left: 20px;
    color: #f4b71a;
}

.nom-epr
{
    height: 40px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #bcbbb8;
    font-weight: bold;
    padding-bottom: 5px;
    overflow: hidden;
}

.actuel-epr
{
    height: 40px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: #bcbbb8;
    color: #1cbc29;
    overflow: auto;
}

.bouton-epr
{
    border-radius: 0;
    color: #4a4b4c;
    background-color: #f4b71a;
    font-weight: bold;
    height: 40px;
}

.submit-epr
{
    height: 40px;
    border-radius: 0;
    background-color: #4a4b4c;
    color: #f4b71a;
}
.ligne-epr
{
    margin-top: 10px;
}

.container-epr
{
    position: absolute
}

